@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="sidebar">
    <div class="sidebarComponent">
        <div id="avator">
            <img id="icon" src="~/resource/icon.png" />
        </div>
        icon here<br />
        info<br />
        contact<br />
    </div>
    <div class="sidebarComponent">
        blog by date
    </div>
    <div class="sidebarComponent">
        blog by category
    </div>
    <div class="sidebarComponent">
        blog tags
    </div>
</div>
