@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="sidebar">
    <div class="sidebarComponent">
        <div id="avator">
            <img id="icon" src="~/resource/icon.png" />
            <small>MikeChan</small>
        </div>
        <small>a C# Programmer in Hong Kong.</small>
    </div>
    <div class="sidebarComponent">
        <small>blog by date</small>
    </div>
    <div class="sidebarComponent">
        <small> blog by category</small>
    </div>
    <div class="sidebarComponent">
        <small>blog tags</small>
    </div>
</div>
