@model Blog
@{
}
<head>
    @*<script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script>*@
    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">
        var message = @Html.Raw(Json.Serialize(TempData["Message"]));
        alert(message);
        </script>
    }
</head>
<h2>Create Blog</h2>
<div id="blogBody" class="col-md-9 col-sm-12 col-12">
    <p>@TempData["ip"]</p>
    <form action="/Blog/Create" method="post">
        <div class="form-group">
            <label class="col-md-2" asp-for="Title" for="title">Title</label>
            <input class="col-md-8" asp-for="Title" type="text" name="title" id="title" />
            <span asp-validation-for="Title" class="text-danger col-md-1 small"></span>
        </div>
        <div class="form-group">
            <label class="col-md-2" asp-for="Category" for="category">Category</label>
            <input class="col-md-8" asp-for="Category" type="text" name="Category" id="category" />
            <span asp-validation-for="Category" class="text-danger col-md-1 small"></span>
        </div>
        <div class="form-group">
            <label class="col-md-2" asp-for="Tags" for="tags">Tags</label>
            <input class="col-md-8" asp-for="Tags" type="text" name="tags" id="tags" />
            <span asp-validation-for="Tags" class="text-danger col-md-1 small"></span>
        </div>
        <div class="form-group">
            <label class="col-md-2" asp-for="Password" for="password">Password</label>
            <input class="col-md-4" asp-for="Password" type="password" name="password" value="" id="password" />
            <span asp-validation-for="Password" class="text-danger col-md-1 small"></span>
        </div>
        <div class="form-group">
            <label class="col-md-2" asp-for="NoComment" for="noComment">No Comment</label>
            <input class="col-md-1" asp-for="NoComment" type="checkbox" name="no_Comment" id="noComment" />
            <span asp-validation-for="NoComment" class="text-danger col-md-1 small"></span>
        </div>
        <div class="form-group">
            <label class="col-md-2" asp-for="NoRobots" for="noRobots">No Robots</label>
            <input class="col-md-1" asp-for="NoRobots" type="checkbox" name="no_Robots" id="noRobots" />
            <span asp-validation-for="NoRobots" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="col-md-2" for="content" style="vertical-align:top">Content</label>
            <textarea class="col-md-8" name="markdown_Content" id="content" style="height:500px"></textarea>
            <script src="~/lib/ckeditor/ckeditor.js"></script>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor 4
                // instance, using default configuration.
                CKEDITOR.replace('content');
            </script>
            @*below querySelector('#content') meant replace the element of id="content"*@
            @*
        <script>

            ClassicEditor
                .create(document.querySelector('#content'), {
                    codeBlock: {
                        languages: [{ language: 'cs', label: 'C#' },
                            { language: 'cpp', label: 'C++' },
                            { language: 'css', label: 'CSS' },
                            { language: 'html', label: 'HTML' },
                            { language: 'java', label: 'Java' },
                            { language: 'javascript', label: 'JavaScript' },
                            { language: 'python', label: 'Python' }]
                    }
                })
                .catch(error => {
                    console.error(error);
                });
        </script>
            *@
        </div>
        <hr style="border-top:1px solid #eee" />
        <input type="submit" value="Submit" class="btn btn-default" style="border:1px solid black;" />
    </form>
</div>
<partial name="~/Views/Shared/_sidebar.cshtml" />